*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainComingSoon h2{
    margin: 0;
    padding: 10px;
}

.divComingSoon{
    display: flex;
    margin: auto;
    width: 150px; 
    height: 150px;
}

.divComingSoon img{
    width: 100%;
}